# cornix free text max entries and targets is 10
# cornix free text only allows 1 SL
# if only 1 entry/target, the "high" value is used
# set leverage "-1" to not use leverage
# decimalPlaces controls the amount of decimal places for entries, targets and the stop-loss (percentage weightings hardcoded to 2 decimal places)

# perl .\mq-cornix-parse-trade-setup-file.pl <-f .\mq-trade-setup.config> <--ewf 2> <--twf -1>
# perl .\mq-cornix-parse-trade-setup-file.pl <-f .\mq-trade-setup.config> <--ewf 2> <--twf 3> [--aoe 3] [--not 2] 
# perl .\mq-cornix-parse-trade-setup-file.pl <-f .\mq-trade-setup.config> <--ewf 2> <--twf 3> [--dev 12000]  (price of coin currently 12000)
# EXAMPLE: perl mq-cornix-parse-trade-setup-file.pl -f mq-trade-setup.config --ewf 1 --twf -1
# file: config file to use [-f]
# ewf: entry weighting factor [-e]
# twf: target weighting factor [-t]
# aoe: amount of entries (override value in config file) [-a]
# not: number of targets (override value in config file) [-n]
# dev: dynamic entry value (fixed risk dynamic position size) [-d]

# to do:
# DONE!! remove need to type long or short from here (can tell if long or short from entry/SL/TP)
# DONE!! weightingFactor into here.. no, command line better for weightingFactor
# DONE!! HeavyWeightingAtEntryOrStoploss for targets too (just done entries for now)
# DONE!! clean up hard-written template strings, put them in the functions?
# DONE!! cornix can remove leading decimals for low sat coins - 888, not 0.0000888 - done with decimal places variable here
# DONE!! blacksphere/loma fixed risk fluid position, calc compound position size if not all entries hit

# DONE!! add option -h heavyEntrySideOrSLside (just use +/- for the weighting factors to control this)
# no single TP, issue with cornix and changing it's ratio (95% and 5% on similar value)?
# different weightings: (exponential (50/25/12/6/3), balanced-in-twos (10/10/15/15/25/25)
# add options: -c chart
# calculate R for each TP and SLBE
# calculate SL-trick: how much to take off to make trade risk free (without moving SL)


########## Clients: 
# 1  = BM BinFuts (main)
# 2  = BM BinSpot (main)"
# 3  = BM BybitKB7 Contract InvUSD (main) 260321
# 4  = BM BybitKB7 Contract LinUSDT (main) 211128
# 5  = SF BinFuts (main)
# 7  = SF Bybit Contract InvUSD (main) 210318
# 8  = BM BybitKB7 Contract LinUSDT (main) 281121
# 9  = SF FtxFuturesPerp (main)
# 10 = SF FtxFSpot (main)
# 11 = SF KucoinSpot (main)
#--
# 6  = SF BinSpot (main)
# 12 = SF Bybit Contract LinUSDT (main) 281121

numDecimalPlacesForCoinPrices = 4
wantedToRiskAmount = 50

coinPair = inj/usdt
client = 6
leverage = -1
numberOfEntries = 1
highEntry = 7.802
lowEntry = 7.79

stopLoss = 7.379

numberOfTargets = 1
highTarget = 9.935
lowTarget = 9

